#home {
  height: 100%;
  width: 100%;

  color: #450a0a;

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 3rem 1fr;
  grid-template-areas: "sidebar header" "sidebar view";
}

.header {
  grid-area: header;
  border-bottom: 1px solid snow;
}

.sidebar {
  grid-area: sidebar;
}

.view {
  grid-area: view;
}
