#home {
  height: 100%;
  width: 100%;

  color: #450a0a;

  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "header header" "sidebar view";

  position: relative;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.view {
  grid-area: view;
}
