.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 2rem;
}

.login-picture {
  width: 70%;
  height: 100%;
  border-right: 1px solid red;
}

.login-form {
  width: 30%;
  height: 100%;
  background: #f9f8fd;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login-form-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  height: 2.5rem;
  line-height: 2rem;
  border: 1px solid #c7c6cb;
  border-radius: 0.35rem;

  background-color: #f1f0f5;

  font-weight: 500;
}

.login-form-row label:hover {
  cursor: pointer;
}

.login-icon {
  height: 100%;
  width: auto;
  background-color: none;
}

.login-form #username,
.login-form #password {
  border: none;
  height: 100%;
  background-color: #f1f0f5;
  font-size: 1rem;
}

.login-form input:focus {
  outline: none;
}

.login-form-btn {
  border: none;
  border-radius: 0.35rem;
  box-shadow: 2px 2px #00000015;

  background-color: #2bc48a;
  color: white;

  font-size: 1rem;
  font-weight: 700;

  height: 2.5rem;
  width: 7rem;
}

.login-form-btn:hover {
  cursor: pointer;
  background-color: #2bc48ad0;
}
