.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 1.5rem;
}

.login-picture {
  width: 60%;
  height: 100%;
  border-right: 1px solid red;
}

.login-form {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login-form-row {
  display: flex;
  line-height: 1.5rem;
  border: 1px solid black;
}

.login-icon {
  height: 100%;
  width: auto;
}

.login-form input {
  border: none;
}

.login-form input:focus {
  outline: none;
}

.login-form-btn {
  border: none;
  border-radius: 0.35rem;
  background-color: #2bc48a;
  color: white;

  font-weight: 700;

  height: 2.5rem;
  width: 7rem;
}

.login-form-btn:hover {
  cursor: pointer;
}
